{% extends "partials/_base.html.twig" %}

{% block title %} Transaction list {% endblock %}
{% block content %}
    {% if articles %}
        {% for article in articles %}
            <p>Created at {{ article.createdAt|date }}, Updated at {{ article.updatedAt|date }}</p>
            <h1>
                <a href="articles/{{ article.id }}">{{ article.title }}</a>
            </h1>
{#          truncate and add "..." to long content snippets  #}
            <p>{{ article.content|length > 100 ? article.content|slice(0, 100) ~ "..." : article.content}}</p>
        {% endfor %}
    {% else %}
        <p>There are currently no articles.</p>
    {% endif %}
{% endblock %}