{% extends "partials/_base.html.twig" %}

{% block title %}
    {% if article %}
        {{ article.title }}
    {% else %}
        Article not found
    {% endif %}
{% endblock %}
{% block content %}

    {% if article %}
        <div class="w-1/2 max-w-4xl bg-gray-800 m-4 px-8 py-4 rounded-md">
            <h1 class="text-gray-300 text-center text-4xl py-2">{{ article.title }}</h1>
            <p class="text-gray-400 text-xl py-2 whitespace-break-spaces">{{ article.content }}</p>
            <p class="text-gray-500">Created on {{ article.createdAt|date }}, Updated on {{ article.updatedAt|date }}</p>
            <div class="w-full flex items-center like-container" data-id="{{ article.id }}">
                <button type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                    <svg class="pointer-events-none w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"/>
                    </svg>
                </button>
                <p class="text-gray-400">{{ article.likes }}</p>
            </div>
            <div class="flex items-stretch w-full justify-between pt-4">
                <form action="/articles/{{ article.id }}/edit" method="get">
                    <input class="focus:ring-4 focus:outline-none border border-blue-700 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500 focus:ring-blue-800" type="submit" value="Edit article">
                </form>
                <form action="/articles/{{ article.id }}" method="post">
                    <input class="focus:ring-4 focus:outline-none border border-red-700 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-red-500 text-red-500 hover:text-white hover:bg-red-500 focus:ring-red-800" type="submit" value="Delete article">
                    <input type="hidden" name="_method" value="delete"><br>
                </form>
            </div>
        </div>
    {% else %}
        <p class="text-gray-300 text-2xl py-2">
            Article not found.
        </p>
    {% endif %}
{% endblock %}