{% extends "components/_base.html.twig" %}

{% block title %}
    {% if article %}
        {{ article.title }}
    {% else %}
        Article not found
    {% endif %}
{% endblock %}
{% block content %}

    {% if article %}
        <div class="w-1/2 max-w-4xl bg-gray-800 m-4 px-8 py-4 rounded-md">
            <h1 class="text-gray-300 text-center text-4xl py-2">{{ article.title }}</h1>
            <p class="text-gray-400 text-xl py-2 whitespace-break-spaces break-words">{{ article.content }}</p>
            <p class="text-gray-500 pb-2">Created
                                     on {{ article.createdAt|date }}{% if article.updatedAt != article.createdAt %}, updated on {{ article.updatedAt|date }} {% endif %}</p>
            <div class="w-full flex items-center">
                <form action="{{ article.id }}/likes" method="post">
                    <button type="submit"
                            class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                        <svg class="pointer-events-none w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 18 18">
                            <path d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"/>
                        </svg>
                    </button>
                    <span class="text-gray-400">{{ article.likes }}</span>
                </form>
            </div>
            <div class="flex items-stretch w-full justify-between pt-4">
                <form action="/articles/{{ article.id }}/edit" method="get">
                    <input class="focus:ring-4 focus:outline-none border border-blue-700 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500 focus:ring-blue-800"
                           type="submit" value="Edit article">
                </form>
                <form action="/articles/{{ article.id }}" method="post">
                    <input class="focus:ring-4 focus:outline-none border border-red-700 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-red-500 text-red-500 hover:text-white hover:bg-red-500 focus:ring-red-800"
                           type="submit" value="Delete article">
                    <input type="hidden" name="_method" value="delete">
                </form>
            </div>
            <p class="text-gray-300 text-center text-xl">Comments</p>
            {% if comments %}
                {% for comment in comments|reverse %}
                    <div id="comment-{{ comment.id }}"
                         class="text-gray-400 flex flex-col bg-gray-700 rounded-md m-4 p-4" tabindex="0">
                        <p class="text-m">{{ comment.userId }}</p>
                        <p class="text-sm">{{ comment.createdAt }}</p>
                        <p class="pt-2 whitespace-break-spaces break-words">{{ comment.content }}</p>
                        <div class="w-full flex items-center py-4">
                            <form action="/comments/{{ comment.id }}/likes" method="post">
                                <button type="submit"
                                        class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                                    <svg class="pointer-events-none w-4 h-4" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                        <path d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"/>
                                    </svg>
                                </button>
                                <span class="text-gray-400">{{ comment.likes }}</span>
                            </form>
                        </div>
                        <form class="place-self-end mt-4" action="/comments/{{ comment.id }}" method="post">
                            <input class="focus:ring-4 focus:outline-none border border-red-700 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-red-500 text-red-500 hover:text-white hover:bg-red-500 focus:ring-red-800"
                                   type="submit" value="Delete comment">
                            <input type="hidden" name="_method" value="delete">
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-gray-400 text-center">There aren't any comments on this article... yet!</p>
            {% endif %}
            <div class="bg-gray-700 rounded-md m-4 p-8">
                <h2 class="text-gray-300 text-xl">Add new comment</h2>
                <form id="comment-form" action="/comments" method="post" class="flex flex-col my-4 text-gray-400">
                    {% if flashMessage %}
                        <p class="text-{{ flashMessage.type == "error" ? "red" : "gray" }}-400 text-2xl py-2">
                            {{ flashMessage.message }}
                        </p>
                    {% endif %}
                    <input type="hidden" name="article-id" value="{{ article.id }}">
                    <label for="user">Username</label>
                    <input type="text" name="user" id="user" minlength="5" maxlength="20"
                           class="w-1/2 min-h-10 max-w-96 p-2.5 w-full text-sm rounded-lg border bg-gray-800 border-gray-600 text-gray-300 outline-none focus:ring-gray-500 focus:border-gray-50">
                    <label for="content">Comment</label>
                    <textarea name="content" id="content" required="required" minlength="5" maxlength="500"
                              class="min-h-40 mb-4 p-2.5 w-full text-sm rounded-lg border bg-gray-800 border-gray-600 text-gray-300 outline-none focus:ring-gray-500 focus:border-gray-50">{{ flashMessage.parameters.content ? flashMessage.parameters.content : '' }}</textarea><br>
                    <input type="submit" value="Submit"
                           class="max-w-40 focus:ring-4 focus:outline-none border border-blue-700 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500 focus:ring-blue-800">
                </form>
            </div>
        </div>
    {% else %}
        <p class="text-gray-300 text-2xl py-2">
            Article not found.
        </p>
    {% endif %}
{% endblock %}